# Use case-3 : Predict Customer Sentiment

**Project Objective:The main aim of this project is to clasify customer sentiments:**

    -- POSITIVE SENTIMENT
    -- NEGATIVE SENTIMENT
    -- NEUTRAL SENTIMENT

**Lifecycle In A Data Science Projects**

    -- Data Analysis
    -- Feature Engineering
    -- Feature Selection
    -- Model Building
    -- Model Deployment

 **Breakdown of this notebook:**
 
    -- Loading the dataset: Load the data and import the libraries.
    -- Data Preprocessing:
        a. Analysing missing data.
        b. Balancing the data.
        c. Removing redundant columns.
    -- Visualising and counting sentiments of tweets for each airline.
    -- Wordcloud plots for positive and negative tweets to visualise most frequent words for each.
    -- Analysing the reasons for negative tweets for each airline.
    -- Visualising negative tweet-sentiment relationship with dates.
    -- Predicting the tweet sentiments with tweet text data with:
        a. Decision Tree Classifier
        b. Random Forest Classifier
    -- Calculating accuracies, plotting the confusion matrix and comparing the models.

# Data Analysis

In [29]:
# importing the dependencies
import pandas as pd
import numpy as np
import tweepy
# from textblob import textblob
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# loading data
airline_data_df = pd.read_csv(r"Usecase3_Dataset.csv")

In [4]:
airline_data_df

,airline_sentiment,airline,text
0,neutral,Virgin America,@VirginAmerica What @dhepburn said.
1,positive,Virgin America,@VirginAmerica plus you've added commercials t...
2,neutral,Virgin America,@VirginAmerica I didn't today... Must mean I n...
3,negative,Virgin America,@VirginAmerica it's really aggressive to blast...
4,negative,Virgin America,@VirginAmerica and it's a really big bad thing...
...,...,...,...
14635,positive,American,@AmericanAir thank you we got on a different f...
14636,negative,American,@AmericanAir leaving over 20 minutes Late Flig...
14637,neutral,American,@AmericanAir Please bring American Airlines to...
14638,negative,American,"@AmericanAir you have my money, you change my ..."
14639,neutral,American,@AmericanAir we have 8 ppl so we need 2 know h...

In [5]:
airline_data_df.shape

(14640, 3)

In [6]:
airline_data_df.columns

Index(['airline_sentiment', 'airline', 'text'], dtype='object')

# EDA - Exploratory Data Analysis

In Exploratory Data Analysis We will Analyze To Find out the following:

-- Missing Values
-- All The Numerical Variables
-- Distribution of the Numerical Variables
-- Categorical Variables
-- Cardinality of Categorical Variables
-- Outliers
-- Relationship between independent and dependent feature

In [7]:
# storing the sentiment in a variable
AIRLINE_SENTIMENT = 'airline_sentiment'

In [20]:
# Checking the various types of sentiments in data
airline_data_df[AIRLINE_SENTIMENT].unique()

array(['neutral', 'positive', 'negative'], dtype=object)

In [10]:
# Checking the % distribution in the sentiments in data set
airline_data_df[AIRLINE_SENTIMENT].value_counts()/len(airline_data_df)*100

negative    62.691257
neutral     21.168033
positive    16.140710
Name: airline_sentiment, dtype: float64

In [ ]:
# We can see the data is unbalanced. Majority of data is for negative class

In [11]:
# list(building_data_df.columns)

**Identify null values**

In [22]:
#total cells with missing values
airline_data_df.isnull().sum()

airline_sentiment    0
airline              0
text                 0
dtype: int64

In [23]:
# Viewing the null values information in a tabular format against datatype of the column
tab_info=pd.DataFrame(airline_data_df.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(airline_data_df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info=tab_info.append(pd.DataFrame(airline_data_df.isnull().sum()/airline_data_df.shape[0]*100).T.
                         rename(index={0:'null values (%)'}))
print ('-' * 10 + " Display information about column types and number of null values " + '-' * 10 )
print 
display(tab_info)

---------- Display information about column types and number of null values ----------

                 airline_sentiment airline    text
column type                 object  object  object
null values (nb)                 0       0       0
null values (%)                  0       0       0

In [26]:
airline_data_df1 = airline_data_df.copy()

In [27]:
# checking the sentiment distribution for various airlines

In [28]:
# ** HeatMap
plt.figure(figsize=(15, 20))
sns.heatmap(airline_data_df.corr(), annot=True)

ValueError: zero-size array to reduction operation minimum which has no identity

In [30]:
building_data_df.dtypes

Order                     int64
Property Id               int64
Property Name            object
Parent Property Id       object
Parent Property Name     object
                         ...
Unnamed: 268             object
Unnamed: 269            float64
Unnamed: 270             object
Unnamed: 271             object
Unnamed: 272             object
Length: 273, dtype: object

In [32]:
building_data_df.shape

(1, 273)

In [42]:
to_drop = [x for x in list(building_data_df.columns) if x.startswith('Unnamed')]

In [52]:
to_drop1 = []
inp_list = list(building_data_df.columns)

i = 0

while i < len(inp_list):
    val = inp_list[i]
    if val.startswith('Unnamed'):
        to_drop1.append(val)
    i += 1
    
# to_drop1

to_drop1 == to_drop

True

In [53]:
len(inp_list)

273

In [58]:
# inp_list

In [59]:
to_drop2 = []
for j in inp_list:
    if j.startswith('Unnamed'):
        to_drop2.append(j)
        
to_drop2 == to_drop

True

In [ ]:
df.drop(['column_nameA', 'column_nameB'], axis=1, inplace=True)

In [44]:
building_data_df2 = building_data_df.drop(to_drop, axis =1)

In [60]:
building_data_df2.shape

(11746, 60)

In [ ]:
building_data_df = building_data_df2.copy()

In [62]:
building_data_df.shape

(11746, 273)